<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}Let's Eat{{else}}All done!{{/if}}
	</button>

	<button class="delete-durger" data-id="{{this.id}}">DELETE!</button>
</li>
