    
<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}Let's Eat{{else}}All done!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{id}}">DELETE!</button>
</li>